<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>IT-Knowledgebase</title>
  <link rel="stylesheet" href="/assets/dashboard.css">
</head>
<body>
  <main class="container">
    <form method="POST" action="/forms/newArticle">
      <label for="title">Title</label><br>
      <input type="text" id="title" name="title"><br>
      <label for="subtitle">Subtitle</label><br>
      <input type="text" id="subtitle" name="subtitle"><br>
      <label for="content">Content</label><br>
      <textarea type="text" id="content" name="content"></textarea>
      <button type="submit">Submit</button>
    </form>
  </main>
</body>
</html>