<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IT-Knowledgebase</title>
    <link rel="stylesheet" href="/assets/main.css">
    <link rel="stylesheet" href="/assets/prism.css">
  </head>
  <body>
    <header>
      <div>
        <img src="/assets/logo.png" alt="IT-Knowledgebase Logo" class="header--image" />
        <span class="header--text"><a href="/">IT-Knowledgebase</a></span>
      </div>
      <input class="header--search" type="text" id="search" name="search" placeholer="Suche"></input>
    </header>
    <main class="detail">
      <h1>{{ .articles.Title }}</h1>
      <p> 19 November 2021 </p>
      <img src="/assets/images/coverimage.jpg" alt="standard cover">
      <div class="content">
          {{ .articles.Content }}
      </div>
    </main>
    <script src="/assets/prism.js"></script>
  </body>
</html>